.tutCont{
    margin: 1rem;
}
.btn{
    padding: .5rem 1rem;
    border: none;
    background-color: brown;
    color : white;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
    
}